* {
    overflow: hidden;
    font-family: 'Martian Mono', monospace;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

:focus {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #363636;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    transform: scale(2.5);
}

#result {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    width: 335px;
    height: 50px;
    color: white;
    background-color: hsl(225 calc(1 * 6.25%) 12.549% / 1);
    border: none;
    border-radius: 5px;
}

#closedCalculator {
    display: none;
}

button {
    width: 64px;
    height: 32px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.25s;
}

.primary {
    background-color: hsl(234.935 calc(1 * 85.556%) 64.706% / 1);
}

.primary:hover {
    background-color: hsl(234.72 calc(1 * 51.44%) 52.353% / 1);
}

.primary:active {
    background-color: hsl(234.857 calc(1 * 46.667%) 44.118% / 1);
}

.secondary {
    background-color: hsl(228 calc(1 * 6.024%) 32.549% / 1);
}

.secondary:hover {
    background-color: hsl(229 calc(1 * 4.8%) 44.9% / 1);
}

.secondary:active {
    background-color: hsl(222.857 calc(1 * 5.833%) 52.941% / 1);
}

.success {
    background-color: hsl(141.522 calc(1 * 56.098%) 32.157% / 1);
}

.success:hover {
    background-color: hsl(141.37 calc(1 * 58.4%) 24.51% / 1);
}

.success:active {
    background-color: hsl(140.308 calc(1 * 60.748%) 20.98% / 1);
}

.danger {
    background-color: hsl(358.16 calc(1 * 68.776%) 53.529% / 1);
}

.danger:hover {
    background-color: hsl(359.504 calc(1 * 60.199%) 39.412% / 1);
}

.danger:active {
    background-color: hsl(358.919 calc(1 * 63.429%) 34.314% / 1);
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #363636;
}

::-webkit-scrollbar-thumb {
    background: #505050;
    border: 5px solid;
    border-color: #363636;
    border-radius: 10px;
}

@media only screen and (max-width: 850px) {
    body {
        transform: scale(2);
    }
}

@media only screen and (max-width: 680px) {
    body {
        transform: scale(1.5);
    }
}

@media only screen and (max-width: 520px) {
    body {
        transform: scale(1);
    }
}

@media only screen and (max-width: 340px) {
    body {
        transform: scale(0.75);
    }
}
